h1 {
  padding: 20px;
  text-align: center;
}

.container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  /* border: 2px solid purple; */
}

.left-side1 {
  flex: 1;
  padding: 10px;
  /* padding-left: 500px; */
  text-align: center;
  /* border: 1px solid rgb(43, 0, 255); */
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.right-side1 {
  flex: 1;
  padding: 10px;
  /* padding-right: 400px; */
  /* border: 1px solid red; */
  display: flex;
  justify-content: center; 
  align-items: center; 

}

.left-side1 img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 10);

}

.right-side1 form {
  max-width: 400px;
  width: 100%;
  text-align: center;
}



