h1 {
    padding: 20px;
    text-align: center;
  }
.container1 {
 
    justify-content: space-around;
    align-items: center;
    height: 70vh; 
  }
  
 
  .left-side1 {
    flex: 1;
    padding: 10px;
    background-color: white;
  }
  

  .right-side1 {
    flex: 1;
    padding: 10px; 
  }
  
  
  .left-side1 img {
    width: 100%; 
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
  

  .right-side1 form {
    max-width: 400px; 
    margin: 0 auto;
  }
  

  