/* Navbar styles */
.nav-bar {
  background-color: #3333333b;
  padding: 10px 20px;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar ul li {
  display: inline;
  margin-right: 20px;
}

.nav-bar ul li a {
  text-decoration: none;
  font-weight: bold;
}

.nav-bar ul li a:hover {
  text-decoration: underline;
}

.logo {
  width: 100px;
  height: 100px;
}
li .shopping-cart {
  width: 50px;
  height: 50px;
}
