/* Navbar.css */

.nav-bar {
  background-color: #3333333b;
  padding: 10px 20px; 
  display: flex;  
  justify-content: space-between; 
  align-items: center; 
}

.nav-bar ul {
    list-style: none;  
  display: flex;  
  justify-content: space-between;  
  align-items: center;  
}
.nav-links{
  width:50% ;
}

.user-actions{
  width: 10%;
}
.nav-bar li {
  margin: 0 10px;  
}

.nav-bar a {
  color: black; 
  font-size: 1.5rem;
  text-decoration: none;  
}

.logo {
  height:  5rem
}

.shopping-cart {
  height: 2rem;  
}
