.searchContainer {
  background-color: #ffffff3b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search {
  display: flex;
  align-items: center;
  width: 30%;
}

.input-field {
  /* margin-right: 10px; */
}
